@keyframes loadLogo{
    from{
        stroke-dashoffset: 300;
    }
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes logoUp{
    from{
        transform: scale(1.5) translateY(15%);
        opacity: 0;
    }
    to{
        transform: scale(1.5) translateY(0%);
        opacity: 1;
    }
}

@keyframes slideRight {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(100px);
    }
}

@keyframes btnSlideToLeft {
    from{
        opacity: 0;
        transform: translateX(5rem);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes logoSlideToRight {
    from{
        opacity: 0;
        transform: translateX(-5rem);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes navbarSlideToBottom {
    from{
        opacity: 0;
        transform: translateY(-5rem);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideToTop {
    from{
        opacity: 0;
        transform: translateY(5rem);
    }
    to{
        opacity: 1;
        transform: translateY(0rem);
    }
}
