@import "../abstracts/variables";
@import "../abstracts/animations";

.loader__container{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: $darkNavyBlue;
    transition: transform 3s;
    transition-delay: 2.5s;
    z-index: 100;
    &.hide{
        transform: translateY(-100%);
    }
    .loading__content{
        position: absolute;
        top: 50%;
        background-color: $darkNavyBlue;
        opacity: 1;
        left: 50%;
        transform: translate(-50%, -50%);
        &::after{
            position: absolute;
            display: inline;
            content: 'arsh';
            color: $white;
            top: 25%;
            left: 0;
            height: auto;
            font-size: 2.25rem;
            width: auto;
            z-index: -1;
            animation: slideRight 3s 2.5s 1 normal;
        }
        svg{
            background-color: $darkNavyBlue;
            z-index: 1;
            polygon{
                overflow: hidden;
                fill: transparent;
                stroke: $lightNeon;
                stroke-width: 5;
                stroke-dasharray: 300;
                stroke-dashoffset: 300;
                animation: loadLogo 2s linear forwards;
            }
            text{
                fill: $lightNeon;
                transform: scale(1.5);
                font-size: 2rem;
                opacity: 0;
                animation: logoUp 1s 1.5s ease-in forwards;
            }
        }
    }
}
