@import "../abstracts/variables";

.about__section{
    max-width: 75rem;
    margin: 0 auto;
    padding-top: 20rem;
    .about__title{
        font-size: 2rem;
        font-weight: 500;
        color: $lightNeon;
        text-align: center;
    }
    .about__text{
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: 400;
        color: $fadeWhite;
        text-align: center;
        line-height: 2;
        margin: 1rem 0;
    }
    .timeline{
        position: relative;
        margin-top: 5rem;
        &::after{
            content: '';
            position: absolute;
            width: 6px;
            background-color: $lightNeon;
            top: 0;
            bottom: 0;
            left: 50%;
            margin-left: -3px;
        }
        .timeline__container{
            padding: 0.625rem 2.5rem;
            position: relative;
            background-color: inherit;
            width: 50%;
            &::after{
                content: '';
                position: absolute;
                width: 1.5625rem;
                height: 1.5625rem;
                right: -13px;
                background-color: $darkNavyBlue;
                border: 4px solid $lightNeon;
                top: 15px;
                border-radius: 50%;
                z-index: 1;
            }
            &.left{
                left: 0;
                &::before{
                    content: " ";
                    height: 0;
                    position: absolute;
                    top: 22px;
                    width: 0;
                    z-index: 1;
                    right: 30px;
                    border: medium solid $white;
                    border-width: 0.625rem 0 0.625rem 0.625rem;
                    border-color: transparent transparent transparent $white;
                }
            }
            &.right{
                left: 50%;
                &::before{
                    content: " ";
                    height: 0;
                    position: absolute;
                    top: 22px;
                    width: 0;
                    z-index: 1;
                    left: 30px;
                    border: medium solid $white;
                    border-width: 0.625rem 0.625rem 0.625rem 0;
                    border-color: transparent $white transparent transparent;
                }
                &::after{
                    left: -12px;
                }
            }
            .timeline__content{
                padding: 1.25rem 1.875rem;
                background-color: $white;
                position: relative;
                border-radius: 0.375rem;
                .timeline__content_title{
                    display: flex;
                    align-items: center;
                    font-size: 1.25rem;
                    margin: 0.75rem 0;
                    span{
                        margin-right: 0.5rem;
                    }
                }
                .timeline__content_text{
                    font-size: 1rem;
                    letter-spacing: 1px;
                    line-height: 2;
                    margin-top: 0.5rem;
                }
            }
        }
    }
}
